.catalog h2{
    color:teal;
}
.catalog h3{
    color:blueviolet;
}
@media(max-width:768px){
    .catalog container{
        /* display:grid; */
        grid-template-columns:repeat(1,1fr);
        /* display:flex;
        justify-content:center;
        flex-direction:column; */
}
}
.catalog container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* display:flex;
    justify-content:center;
    flex-direction:column; */
}


